# question no - 1

In [1]:
TEN = 10 
ten = 10
print(Ten)

NameError: name 'Ten' is not defined

due to variable case sensetive means it will not found Ten name of variable so it has give error

In [2]:
print = "hii there"
type(print)
print(print)

TypeError: 'str' object is not callable

becuase print is reserved keyword so it will give error and we should not consider variable as reserved key word

In [3]:
a, b, c = 10

TypeError: cannot unpack non-iterable int object

because if we we want to store three values so we will have to give it three values

In [4]:
# calcualte the age of the user

name = input("Name: ") # always gives you string values
place = input("place: ")
year_of_birth = input("year_of_birth: ")

age = 2022 - year_of_birth

print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""")

Name: shubham singh
place: prayagraj
year_of_birth: 2002

TypeError: unsupported operand type(s) for -: 'int' and 'str'

because input is always give string type and we sustract integer into string so that it is not possible in python . for sunstracting we have to convert string into integer then after we can substract

In [5]:
#string to integer
a = "50.45" # entering string
print(f"data type before:{type(a)}")
a = int(a) #trying to convert into integer
print(f"data type after:{type(a)}")

TypeError: 'str' object is not callable

in python we can not convert string into integer

In [6]:
# empty string to int
a = ""
print(f"data type before:{type(a)} , value of a :{a}")
a = int(a)
print(f"data type after:{type(a)} value of a : {a}")

TypeError: 'str' object is not callable

empty string to integer also we can not covert so it will give error

# que no. -2

In [3]:
A = int(input("enter value A: "))
B = int(input("enter value b: "))
print(f"sum of A and B is {A + B}")
print(f"mul of A and B is {A * B}")
print(f"div of A and B is {A / B}")
print(f"sqa of A and B is {A ** B}")

enter value A: 5
enter value b: 2
sum of A and B is 7
mul of A and B is 10
div of A and B is 2.5
sqa of A and B is 25

# ques no - 3

in python total 33 reserved key words
False, def,	if,	raise, None, del, import, return, True, elif, in, try, and, else,	is,	while,  as,	except,	lambda,	with, assert,	finally,	nonlocal,	yield, break,	for,	not,	class,	from,	or,	continue,	global,	pass,
because if we use reserved keyword as variable if will confused in print statement and give error

# que no - 4

In [5]:
firstname = input("enter your first name: ")
lastname = input("enter your last name: ")
print(f"{lastname}{firstname}@gmail.com")

enter your first name: shubham
enter your last name: singh
singhshubham@gmail.com

# que no - 5

In [6]:
print(f'''hi i'm sunny
my address is 22\3
i earn 20$ daily''')

hi i'm sunny
my address is 22
i earn 20$ daily

# que no -6

In [2]:
name = input("enter your name: ")
address = input("enter your address: ")
date =  input("enter our date: ")
birth = input("enter your birth: ")
email = input("enter your email: ")
print(f''' name - {name}
address -{address}
date - {date}
birth - {birth}
email - {email}''')

enter your name: shubham singh
enter your address: prayagraj
enter our date: 07-05-2003
enter your birth: 36-05-2001
enter your email: shubhmsingh3636@gmail,com
 name - shubham singh
address -prayagraj
date - 07-05-2003
birth - 36-05-2001
email - shubhmsingh3636@gmail,com

# que no - 7

In [4]:
a = 22.4 
print(type(a)) #for showing its type
a = int(a)
print(type(a))
print(a)

<class 'float'>
<class 'int'>
22

In [5]:
a = 22
print(type(a))
a = complex(a)
print(type(a))
print(a)

<class 'int'>
<class 'complex'>
(22+0j)